/* -- 全局样式-- */
html{
    font-size:16px;
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{text-decoration: none;color:inherit;}
b{font-size:24px;font-weight: bold;}
.fleft{float:left;}
/* .fright{float:right;}*/
.clearfix:after {
    content: "hello world";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
} 
.left{
    left:0;top:0;background: #ff2d86;
}
.right{
    right:0;top:0;background: #ff414b;
}
/* -- 全局样式-- */
/* --导航-- */
.music-well .nav
{
    width: 100%;
    display:flex;
	height: 50px;
	background: -webkit-linear-gradient(left,#ff2d86,#ff414b);
    border-radius: 8px 8px 0 0;
    color:white;line-height:50px;
}
.nav div{
    margin:0 20px;cursor:pointer;
}
.nav .logo {
    margin-right: 50px;
}
/* --导航-- */

/* -- 最外层的大盒子-- */
.wrapper{
    position: relative;
    width:1240px;
    margin:20px auto 0;
}

/* -- 最外层的大盒子-- */

/* -- 热度引导和频道分类-- */
.fm-list{
    position: absolute;
    width:200px;
    height:auto;
    display: flex;flex-direction:column;
    color:white;    
    border-radius: 5px;
}
/* -- 热度引导和频道分类-- */

/* -- 专辑内容-- */
.fm-section{
    max-width:780px;
    padding:0 20px 10px;
    display: block;
    margin:0 auto;
}
.fm-tags{
    text-align: center;
    line-height: 60px;
    height:60px;
    width:100%;
    display: block;
    border-bottom:1px solid white;
}

.album-nav{
    display:flex;
}
.album-h3{
    margin:0 0 40px 0;width:52px;
}
.albun-block-wrapper{
    max-width:600px;
}
.album-block{
    width:5em;height: 18px;
    padding:5px;margin:10px;
    text-align: center;line-height:30px;
    color:#898989;
}

.album-info{
    display:black;
    width:150px;
    margin:10px 20px 10px 10px;
}
.jvc-name{
    color: #333;
    margin: 10px 0 5px 0;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* -- 专辑内容-- */


