html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
.music-well
{
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.music-well .nav
{
    width: 100%;
    display:flex;
	height: 50px;
	background: -webkit-linear-gradient(left,#ff2d86,#ff414b);
    border-radius: 8px 8px 0 0;
    color:white;line-height:50px;
}
.nav .nav-list{
    margin:0 20px;cursor:pointer;
}
.nav .logo {
    margin-right: 50px;
}

.warpper{
    width:1240px;
    margin:20px auto;
}
.content{margin:0 auto;}
.content>h2{
    margin-left:95px;color:#666;
    margin-bottom:0;
}
.content .min-warpper{
    width:1000px;margin:0 auto;
}
.content .tem-font{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  overflow: hidden;
  margin:25px 25px 0;
}

.content p{
    margin: 35px 60px;
    line-height: 24px;
    font-size: 14px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}
.jvc-follow{
    color:#CF7F7F;
    font-size:14px;
    margin:10px 0 0 0;
}
.jvc-name{
    position: relative;color:#666;
}
.jvc-name:after{
    content:"V";
    width:20px;height:20px;border-radius: 50%;
    background: #ff414b;
    color:white;
    display: inline-block;text-align: center;
    line-height: 20px;
    
}
.tags{
    display: inline-block;
    margin:10px 15px;
    border-radius: 5px;
    height:20px;
    min-width: 4em;
    color:#ff414b;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}
.classify{
    /* max-width:900px; */
    margin:10px auto;
    width:1000px;
}
.classify-content{
    min-height:500px;
}
.singers{
    display: inline-block;
    margin:25px 0 0 25px;width:225px;
    color:#B38A8A;
}
.tags:first-child
{
    color: #29DF29;
}
