html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
h2{text-align: center;}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.clearfix:after {
    content: "hello world";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
} 
.music-well
{
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.music-well .nav
{
    width: 100%;
    display:flex;
	height: 50px;
	background: -webkit-linear-gradient(left,#ff2d86,#ff414b);
    border-radius: 8px 8px 0 0;
    color:white;line-height:50px;
}
.nav .nav-list{
    margin:0 20px;cursor:pointer;
}
.nav .logo {
    margin-right: 50px;
}

.wrapper{
    width:1240px;margin:20px auto 0;
}

.sound-info{
    width: 400px;
}

.sound-info .sound-img{
    width:310px;padding:5px;
    margin:20px auto;
    position: relative;   
    border-radius: 5px;
}
.sound-info .audio-control{
    position: absolute;
    width:100px;height: 100px;
    border-radius:50%; 
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    cursor:pointer;
}
.sound-info #play{
    display: inline-block;
    color:#CF7F7F;
    transform:scale(3);
    line-height:100px;
    text-align: center;
}
.sound-info .describtion{
    width:460px;
    
    line-height: 34px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}

.comments .comments-info{
    padding:10px;position: relative;max-width:580px;
    border-bottom:1px solid #CF7F7F;
}
.comments .jvc-avatar{
    max-width:50px;border-radius: 50%;position: absolute;
    left:10px;top:10px;
}
.comments .author{margin-left:60px;}
.comments .jvc-name{
    color:#CF7F7F;
}
.comments .content{
    margin:0 10px;padding:10px 0;
}
