html{
    font-family: "Comic Sans MS";
    box-sizing: border-box;
    background:#fff5f4;
    color:#535353;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{text-decoration: none;color:inherit;}
.f-left{
    float:left;
}
.f-right{
    float:right;
}

.music-well
{
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.music-well nav
{
    width: 100%;
    display:flex;
	height: 50px;
	background: -webkit-linear-gradient(left,#ff2d86,#ff414b);
    border-radius: 8px 8px 0 0;
    color:white;line-height:50px;
}
nav div{
    margin:0 20px;cursor:pointer;
}
nav .logo {
    margin-right: 50px;
}


.wrapper{
    display: flex;margin-top:50px;
}
.wrapper>div{flex:1;margin:0 50px;}

.sound-info{
    text-align: center;
}
#sound-title{
    width:100%;
}

.sound-img{
    width:310px;padding:5px;
    margin:20px auto;
   position: relative;
   
    border-radius: 5px;


}
.audio-control{
    position: absolute;
    width:100px;height: 100px;
    border-radius:50%;
   
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    cursor:pointer;
}
.audio-control>a{
    display: inline-block;
    color:white;
    transform:scale(3);
    line-height:100px;
    text-align: center;

}
.sound-info .describtion{
    margin: 35px;
    line-height: 34px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}



.sound-comments{
    max-width:500px;
}

.sound-comments>h2{
   padding-left:15px;
   color:#898989;
}
.comments>div{
    padding:10px;position: relative;
    border-bottom:1px solid #efefef;
}
.comments>div img{
    max-width:50px;border-radius: 50%;position: absolute;
    left:10px;top:10px;
}
.author{margin-left:60px;}
.jvc-name{
    color:#898989;
}
.content{
    margin:0 10px;padding:10px 0;
}

